body {
    background-color: #ffffffd0;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    max-width: 100%;
    overflow-x:hidden;
}

:root {
    --gradient: linear-gradient(to right, #1667F8 0%, #148ED9 50%, #22D9F0 100%);
    --main-color: #148ED9;
    --main-color-dark: #1667F8;
    --accent-color: #22D9F0;
}

.h {
    box-shadow: 0px 0px 15px #000000;
    position:absolute;
    height: 50px;
    width: 10000px;
    top: -10px;
    left: -3px;
    cursor: pointer;
    transition: 0.5s;
}


.h:hover {
    box-shadow: 0px 0px 25px #000000;
}

.h_ {
    position:relative;
    font-weight: bold;
    font-size: 12px;
    top: -4px;
    left: 55px;
    background-color: var(--main-color);
    background-image: var(--gradient);
    background-size: 1%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}



.b {
    padding: 20% 0;
    text-align: center;
}

.b_ {
    font-size: 30px;
    font-weight: bold;
    background-color: var(--main-color);
    background-image: var(--gradient);
    background-size: 20%;
    background-position: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/*  bad code moment 
    stop reading    
    these comments  */


.h_pfp img {
    position: absolute;
    top: 13px;
    left: 12px;
    border-radius: 50%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.h_pfp img.top:hover {
    opacity:0;  
}

/* still reading? */

.projects {
    display: inline-block;
    padding: 1% 0;
    cursor: pointer;
}

.susdle {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
}

.susdle:hover {
    color: var(--main-color-dark);
    animation: hoverAnimation 0.2s ease-in;
}

.gtf {
    border-radius: 50%;
}

.gtf:hover {
    color: var(--main-color-dark);
    animation: hoverAnimation 0.2s ease-in;
}


@keyframes hoverAnimation {
    0% {
        color: var(--main-color)
    }
    50% {
        color: #157AE8;
    }
    100% {
        color: var(--main-color-dark)
    }
}